@charset "utf-8";

body {
  background-color: #CCFFCC;
}

h1 {
     text-align: center;
}
 
h1 span{
     position: relative;
     display: inline-block;
     padding-bottom:0.5em;
     border-bottom: 1px solid black;
}
      
h1 span::before,
h1 span::after {
     position: absolute;
     top: 100%;
     left:50%;
     transform:translateX(-50%);
     content: '';
     border: 10px solid transparent;
}
 
h1 span::before {
     border-top: 10px solid black;
}
 
h1 span::after {
     margin-top: -1px;
     border-top: 10px solid white;
}


ul.hmenu {
   margin: 0px;
   padding: 0px 0px 0px 15px;
   background-color: #0000DD;
}


ul.hmenu li {
   width: 180px;
   display: inline-block; 
   //list-style-type: none; 
   //position: relative; 
}
ul.hmenu a {
   background-color: #0000DD;
   color: white;
   line-height: 40px;
   text-align: center;
   text-decoration: none;
   font-weight: bold;
   display: block;
}
ul.hmenu a:hover {
   background-color: white;
   color: #0000DD;
}

strong {
  background: linear-gradient(transparent 0%, #fbd 50%);
}

strong2 {
  background: linear-gradient(transparent 50%, #FFFFAA 50%);
}

.bg_text{
   background-color: #00FFFF;
   width: 150px;
}

.bg_text2{
   background-color: #00FFFF;
   width: 350px;
}
